
<!DOCTYPE html>
<html>
<head>
    <title>Bem vindo</title>
</head>
<body>
    <h1>Bem vindo ao nosso site</h1>
    <footer>
        Todos os direitos reservados &copy; 2010 - @DateTime.Now.ToString("yyyy");
    </footer>
</body>
</html>