@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Login</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">

</head>
<body>
    <div class="container">
        <form method="post" action="/home/login">
            <div class="mb-4">
                <label for="email" class="form-label">Email</label>
                <input type="text" name="email" value="" class="form-control" id="email" placeholder="Digite seu emal">
                @Html.ValidationMessage("email")
            </div>
            <div class="mb-4">
                <label for="senha" class="form-label">Senha</label>
                <input type="text" name="senha" value="" class="form-control" id="senha" placeholder="Digite sua senha">

                @Html.ValidationMessage("senha")
            </div>



            <button type="submit" class="btn btn-primary">Enviar</button>
        </form>
        @ViewBag.Mensagem
    </div>
</body>

</html>